<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\tmp\NLog_03_RealWorldExample.txt"
      throwExceptions="true"
      autoReload="true">

    <variable name="verbose-layout"
              value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}|${exception:format=ToString}" />

    <extensions>
        <add assembly="03_RealWorldExample" />
    </extensions>

    <targets>
        <target xsi:type="TokenTimeThrottler"
                name="throttledConsoleTarget"
                ThrottleSeconds="1">

            <target name="coloredConsole"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                layout="${verbose-layout}">
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" writeTo="throttledConsoleTarget" />
    </rules>
</nlog>