<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      internalLogFile="C:\tmp\RL3-RemoteServer-NLog_log.txt">

    <variable name="verbose-layout"
              value="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}|${exception:format=ToString}" />
    <variable name="date-format" value="${date:format=yyyy_MM_dd}" />
    <variable name="log-folder" value="${basedir}/../logs" />
    <targets>
        <target name="coloredConsole"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                layout="${verbose-layout}">

            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <target name="logstash"
                xsi:type="Network"
                address="udp://localhost:5960"
                layout="${verbose-layout}" />

        <target name="logfile"
                xsi:type="File"
                layout="${verbose-layout}"
                fileName="${log-folder}/RemoteServer.log"
                archiveFileName="${log-folder}/RemoteServer.archive.{##}.log"
                maxArchiveFiles="20"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="10485760"
                keepFileOpen="false"
                encoding="iso-8859-2" />

        <target name="nexus-logfile"
                xsi:type="File"
                layout="${verbose-layout}"
                fileName="${log-folder}/Nexus1000v.log"
                archiveFileName="${log-folder}/Nexus1000v.archive.${date-format}.{##}.log"
                maxArchiveFiles="20"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="10485760"
                keepFileOpen="false"
                encoding="iso-8859-2" />

        <target name="x2go-logfile"
                xsi:type="File"
                layout="${verbose-layout}"
                fileName="${log-folder}/X2GoService.log"
                archiveFileName="${log-folder}/X2GoService.archive.${date-format}.{##}.log"
                maxArchiveFiles="20"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="10485760"
                keepFileOpen="false"
                encoding="iso-8859-2" />
    </targets>

    <rules>
        <logger name="RemoteServer.Cisco.*" minlevel="Debug" final="true" writeTo="nexus-logfile" />
        <logger name="RemoteServer.Services.X2GoProcess.*" minlevel="Debug" final="true" writeTo="x2go-logfile" />

        <logger name="*" minlevel="Debug" writeTo="coloredConsole,logfile,logstash">
            <filters>
                <when condition="equals('${logger}','Shared.Remoting.RabbitMq.LogNEasyNetQLoggerBridge') and (level &lt; LogLevel.Warn)"
                      action="Ignore" />
                <when condition="equals('${logger}','RemoteServer.Cisco.*') and (level &lt; LogLevel.Warn)"
                      action="Ignore" />
            </filters>
        </logger>
    </rules>
</nlog>